.footer {
  border-radius: 30px;
  color: green;
}
.footerWrapper {
  display: flex;
  padding: 20px;
}
.footerLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footerItem {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.footerRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .footerWrapper {
    flex-direction: column;
  }
  .footerRight {
    margin-top: 30px;
  }
}
