.footer {
  border-radius: 30px;
}
.footerWrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.footerItem {
  display: flex;
  align-items: center;
  font-size: 15px;
}

@media only screen and (max-width: 480px) {
  .footerWrapper {
    flex-direction: column;
  }
  .footerRight {
    margin-top: 30px;
  }
}
